.idea/curso-rust-ejercicios.iml
.idea/modules.xml
.idea/vcs.xml
/unidad2/clase/target
unidad2/clase/.idea/modules.xml
unidad2/clase/.idea/vcs.xml
unidad2/clase/.idea/clase.iml
/unidad4/untitled1/target
/unidad4/untitled/target
/unidad3/clase/target
/unidad3/ejercicios/target
/unidad4/clase/target
/unidad2/ejercicios/tests/target
/unidad2/ejercicios/tests/target
/unidad3/clase/.idea
/unidad2/ejercicios/tests/target
/unidad4/clase/.idea
/unidad4/untitled1/.idea
/unidad3/ejercicios/.idea
/unidad4/untitled/.idea
/unidad4/reto/target/debug
/unidad5/clase/target
/unidad4/reto/target
/unidad5/mini-proyecto/nucleo-banco/target
/unidad5/mini-proyecto/rust-banco/target
/unidad5/mini-proyecto/nucleo-banco/.idea
/unidad6/clase/target
/unidad7/target
/unidad8/target
/unidad8/.idea
/unidad8/.idea
/unidad8/.idea
/unidad9/clase/target
*.xml
/unidad9/clase/.idea
/unidad10/clase/target
/unidad5/clase/.idea
/unidad10/clase/.idea
/unidad11/clase/target
/unidad11/mi_banco_workspace/target
/unidad11/mi_banco_workspace_grabacion/target
/unidad13/clase/target
/unidad12/clase/target
/unidad4/untitled/src/target
/unidad4/ejercicios/target
